<ul id="slide-out" class="side-nav">
  <li *ngIf="me !== null">
    <div class="user-view">
      <div class="background">
        <img src="http://images.all-free-download.com/images/graphiclarge/wood_background_hd_picture_5_169842.jpg">
      </div>
      <a><img class="circle" src="https://s.gravatar.com/avatar/5d0b498d9ce17861927d41f427c0fc7e?s=80"></a>
      <a><span class="white-text name">{{me.name}}</span></a>
      <a><span class="white-text email">{{me.email}}</span></a>
    </div>
  </li>


  <li *ngIf="me === null"><a [routerLink]="['/login']">Login</a></li>

  <li *ngIf="me !== null" [routerLinkActive]="['active']"><a [routerLink]="['/dashboard']"><i class="material-icons">dashboard</i>Painel</a></li>
  <li *ngIf="me !== null" [routerLinkActive]="['active']"><a [routerLink]="['/edit']"><i class="material-icons">edit_location</i>Dados</a></li>
  <li *ngIf="me !== null" [routerLinkActive]="['active']"><a [routerLink]="['/dishes']"><i class="material-icons">apps</i>Pratos</a></li>
  <li><div class="divider"></div></li>
  <li *ngIf="me !== null" [routerLinkActive]="['active']"><a class="subheader">Minha conta</a></li>
  <li *ngIf="me !== null" [routerLinkActive]="['active']"><a [routerLink]="['/profile']"><i class="material-icons">account_circle</i>Editar meus dados</a></li>
  <li *ngIf="me !== null" ><a [routerLink]="['/password']"><i class="material-icons">security</i>Trocar senha</a></li>
  <li *ngIf="me !== null" ><a [routerLink]="['/logout']"><i class="material-icons">security</i>Sair</a></li>
</ul>

<header>
  <nav>
    <div class="nav-wrapper blue-grey lighten-1">
      <div class="row">
        <div class="col s12">
          <a [routerLink]="['/']" class="brand-logo">Painel</a>
          <ul id="nav-mobile" class="right">
            <li><a data-activates="slide-out" id="showMenu"><i class="material-icons">menu</i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="page-footer  blue-grey lighten-2">
  <div class="footer-copyright">
    <div class="container">
      © 2017 by Kaue Rodrigues
      <a class="white-text lighten-5 right">More Links</a>
    </div>
  </div>
</footer>
